.main-space
  .main-space__center-top
    .main-space__center-top__box-left
      .main-space__center-top__box-left__left-top
        = @group.name
      .main-space__center-top__box-left__left-bottom
        Member :
        .main-space__center-top__box-left__left-bottom_user
          - @group.users.each do |user|
            = user.name
    .main-space__center-top__box-right
      .main-space__center-top__box-right__btn
        = link_to edit_group_path(current_user) do
          Edit
  .main-space__center-center
    = render @messages
  .main-space__center-bottom
    .main-space__center-bottom__space-all
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .main-space__center-bottom__space-all__image
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'