.chat-space
  .chat-space__left-top
    .chat-space__left-top__side-big-box
      .chat-space__left-top__side-big-box__side-box-left
        yasu
      .chat-space__left-top__side-big-box__side-box-right
        .chat-space__left-top__side-big-box__side-box-right__edit
        = link_to "#" do
          %link{class: "far fa-edit"}
        .chat-space__left-top__side-big-box__side-box-right__cog
        = link_to "#" do
          %link{class: "fas fa-cog"}
  .chat-space__left-bottom
    .chat-space__left-bottom__groups
      .chat-space__left-bottom__groups__member
      = link_to "#" do
        lp
      .chat-space__left-bottom__groups__new-message
      = link_to "#" do
        monky
    .chat-space__left-bottom__groups
      .chat-space__left-bottom__groups__member
      = link_to "#" do
        lp
      .chat-space__left-bottom__groups__new-message
      = link_to "#" do
        monky