.chat-space
  .chat-space__left-top
    .chat-space__left-top__side-big-box
      .chat-space__left-top__side-big-box__side-box-left
        = current_user.name
      .chat-space__left-top__side-big-box__side-box-right
        .chat-space__left-top__side-big-box__side-box-right__edit
        = link_to new_group_path do
          = icon('far', 'edit', class: 'icon')
        .chat-space__left-top__side-big-box__side-box-right__cog
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon')
  .chat-space__left-bottom
    .chat-space__left-bottom__groups
      .chat-space__left-bottom__groups__member
        - current_user.groups.each do |group|
          .chat-space__left-bottom__groups__new-message
            = link_to "#" do
              .group__name
                = group.name
              .chat-space__left-bottom__groups
                メッセージはまだありません。